<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hong.template2.mapper.db1.SignerInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hong.template2.entity.SignerInfo">
        <id column="id" property="id" />
        <result column="signer_name" property="signerName" />
        <result column="signer_type" property="signerType" />
        <result column="signer_cert" property="signerCert" />
        <result column="signer_iden" property="signerIden" />
        <result column="signer_phone" property="signerPhone" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, signer_name, signer_type, signer_cert, signer_iden, signer_phone, create_time, update_time
    </sql>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app_signer_info
        where id = #{id}
    </select>

</mapper>
